<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.genre %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= book.quantity %>
  </p>

  <p>
    <strong>Available quantity:</strong>
    <%= book.available_quantity %>
  </p>
</div>
