<div id="<%= dom_id book %>" class="card">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.genre %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= book.available? ? 'Yes' : 'No' %>
  </p>
  <% if current_user.admin? %>
    <%= link_to "Edit", edit_book_path(book) %>
  <% end %>
  <% if book.available? %>
    <%= link_to "Reserve", new_book_reservation_path(book), method: :post %>
  <% end %>
</div>
