<p style="color: green"><%= notice %></p>

<h1>Ilium City Public Library</h1>

<% if current_user.admin? %>
  <%= link_to "Register new book", new_book_path %>
<% end %>

<%= form_tag books_path, method: :get do %>
  <div>
    <%= text_field_tag :q, params[:q], placeholder: "Enter your search here" %>
  </div>
  <div>
    <%= submit_tag 'search' %>
  </div>
<% end %>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <% if book.available? %>
      <%= link_to "Reserve", new_book_reservation_path(book), method: :post %>
    <% end %>
  <% end %>
</div>
