<p style="color: green"><%= notice %></p>

<h1>Ilium City Public Library Books</h1>

<% if @books.present? || params[:q].present? %>
  <%= form_tag books_path, method: :get do %>
    <%= text_field_tag :q, params[:q], placeholder: "Enter your search here" %>
    <%= submit_tag 'search' %>
  <% end %>

  <div id="books">
    <% @books.each do |book| %>
      <%= render book %>
    <% end %>
  </div>
<% else %>
  <p>
    There aren't books in the Library
  </p>
<% end%>
