<div id="<%= dom_id reservation %>" class="card">
  <p>
    <strong>Member:</strong>
    <%= reservation.user_email %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= reservation.book_title %>
  </p>

  <p>
    <strong>Reserved at:</strong>
    <%= reservation.created_at %>
  </p>

  <p>
    <strong>Reservation numer:</strong>
    <%= reservation.number %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reservation.status %>
  </p>

  <% if current_user.admin? %>
    <%= link_to "Edit", edit_book_reservation_path(book_id: reservation.book_id, id: reservation) %>
  <% end %>
</div>
