<p style="color: green"><%= notice %></p>

<h1>Ilium City Public Library Reservations</h1>

<% if @reservations.present? || params[:q].present? %>
  <%= form_tag reservations_path, method: :get do %>
    <%= text_field_tag :q, params[:q], placeholder: "Enter the reservation number here" %>
    <%= submit_tag 'search' %>
  <% end %>

  <div id="reservations">
    <% @reservations.each do |reservation| %>
      <%= render reservation %>
    <% end %>
  </div>
<% else %>
  <p>
    There aren't reservations yet.
  </p>
<% end %>