<!DOCTYPE html>
<html>
  <head>
    <title>Library</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <ul>
      <li>
        <%= link_to "Books", books_path %>
      </li>
      <li>
        <%= link_to "Reservations", reservations_path %>
      </li>
      <li>
        <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
      </li>
    </ul>

    <%= yield %>
  </body>
</html>
